@import 'lib.params.less';

/**
 *
 * MASTERING
 *
 */
body { background: #ccc; }
#master { margin:0; padding:0; position:relative; width:100%; }
.wrapper { margin:0 auto !important; overflow:hidden; position:relative; width:980px !important; }


/**
 *
 * HEADER // BANNER
 *
 */
#mainbanner { background: #3f6; height: 100px; padding: 10px; width: 100%; }

/**
 *
 * MAINNAV // NAVIGATION
 *
 */
#mainnav { background: #ff7; float: left; padding: 10px; overflow:hidden; width: 180px; }

/**
 *
 * MAIN // NAVIGATION
 *
 */
#maincontent { background: #FFFFFF; float: right; padding: 10px; width: 760px; }

/**
 *
 * FOOTER // CONTENTINFO
 *
 */
#mainfooter { background:#7af; clear: both; padding: 10px; text-align:center; width: 100%; }